  ## Hypothesis Excercise

1) A F&B manager wants to determine whether there is any significant difference in the diameterof the cutlet between two units. A randomly selected sample of cutlets was collected from bothunits and measured? Analyze the data and draw inferences at 5% significance level. Please statethe assumptions and tests that you carried out to check validity of the assumptions.

 Null hypothesis H0: There is no significant difference in the diameter of the cutlet between two units.
mean1-mean2=0
Alternative Hypothesis H1: There is a significant difference in the diameter of the cutlet between two
units mean1-mean2 <> 0
Given significance level α=5%=0.05
Since we need to Compare mean between two units conducting Two tailed t test,

In [15]:
import pandas as pd
from scipy import stats

In [16]:
cutlet=pd.read_csv("c:/users/mahesh/datasetcsv/Cutlets.csv")

In [17]:
cutlet

    Unit A  Unit B
0   6.8090  6.7703
1   6.4376  7.5093
2   6.9157  6.7300
3   7.3012  6.7878
4   7.4488  7.1522
5   7.3871  6.8110
6   6.8755  7.2212
7   7.0621  6.6606
8   6.6840  7.2402
9   6.8236  7.0503
10  7.3930  6.8810
11  7.5169  7.4059
12  6.9246  6.7652
13  6.9256  6.0380
14  6.5797  7.1581
15  6.8394  7.0240
16  6.5970  6.6672
17  7.2705  7.4314
18  7.2828  7.3070
19  7.3495  6.7478
20  6.9438  6.8889
21  7.1560  7.4220
22  6.5341  6.5217
23  7.2854  7.1688
24  6.9952  6.7594
25  6.8568  6.9399
26  7.2163  7.0133
27  6.6801  6.9182
28  6.9431  6.3346
29  7.0852  7.5459
30  6.7794  7.0992
31  7.2783  7.1180
32  7.1561  6.6965
33  7.3943  6.5780
34  6.9405  7.3875

In [21]:
c1=cutlet["Unit A"]
c2=cutlet["Unit B"]
stats.ttest_ind(c1,c2)

Ttest_indResult(statistic=0.7228688704678061, pvalue=0.4722394724599501)

Inference: Since P value &gt; 0.05 we fail to reject null hypothesis,
Which means that there is no significant difference in the diameter of the cutlets from two
units.

2) A hospital wants to determine whether there is any difference in theaverage Turn Around Time (TAT) of reports of the laboratories on theirpreferred list. They collected a random sample and recorded TAT forreports of 4 laboratories. TAT is defined as sample collected to reportdispatch.Analyze the data and determine whether there is any difference in averageTAT among the different laboratories at 5% significance level.

Null hypothesis H0: There is no difference in the average Turn around time
Alternative Hypothesis H1: There is difference in the average Turn around time.
Given significance level α=5%=0.05
Since we need to Compare mean between results of 4 laboratories , performing ANOVA test

In [22]:
import pandas as pd
from scipy import stats

In [23]:
lab=pd.read_csv("c:/users/mahesh/datasetcsv/LabTAT.csv")

In [24]:
lab

     Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0          185.35        165.53        176.70        166.13
1          170.49        185.91        198.45        160.79
2          192.77        194.92        201.23        185.18
3          177.33        183.00        199.61        176.42
4          193.41        169.57        204.63        152.60
..            ...           ...           ...           ...
115        178.49        170.66        193.80        172.68
116        176.08        183.98        215.25        177.64
117        202.48        174.54        203.99        170.27
118        182.40        197.18        194.52        150.87
119        182.09        215.17        221.49        162.21

[120 rows x 4 columns]

In [26]:
stats.f_oneway(lab.iloc[:,0],lab.iloc[:,1],lab.iloc[:,2],lab.iloc[:,3])

F_onewayResult(statistic=118.70421654401437, pvalue=2.1156708949992414e-57)

Inference: 
    Pvalue < 0.05 hence reject the null hypothesis
    means ,there is significant difference in the average turn around time

3) Sales of products in four different regions is tabulated for males and females. Find if male-female buyer rations are similar across regions.

|------||East||West||North||South|
|------||---||---||---||---|
|Males||50||142||131||70|
|Females||550||351||480||350|

 H0:pm-pf=0,the propotion of male and female are same
 Ha: pm-pf&lt;&gt; 0,The proportion of male and female are not same
We proceed with 2-proportion test with z score pvalue

In [11]:
from scipy import stats

In [13]:
stats.norm.cdf(0.05,loc=98,scale=45)-stats.norm.cdf(0.05,loc=433,scale=99)

0.014746602526182578

 Inference :
pm-pf=0.0147 and is not equal to zero
Hence we reject null hypothesis. Therefore the proportion of male and female
are not same

4) TeleCall uses 4 centers around the globe to process customer order forms. They audit a certain % of the customer order forms. Any error in order form renders it defective and has to be reworked before processing. The manager wants to check whether the defective % varies by centre. Please analyze the data at 5% significance leveland help the manager draw appropriate inferences.

In [27]:
import pandas as pd
from scipy import stats

In [32]:
co =pd.read_csv("c:/users/mahesh/datasetcsv/CostomerOrderForm.csv")

In [33]:
co

    Phillippines   Indonesia       Malta       India
0     Error Free  Error Free   Defective  Error Free
1     Error Free  Error Free  Error Free   Defective
2     Error Free   Defective   Defective  Error Free
3     Error Free  Error Free  Error Free  Error Free
4     Error Free  Error Free   Defective  Error Free
..           ...         ...         ...         ...
295   Error Free  Error Free  Error Free  Error Free
296   Error Free  Error Free  Error Free  Error Free
297   Error Free  Error Free   Defective  Error Free
298   Error Free  Error Free  Error Free  Error Free
299   Error Free   Defective   Defective  Error Free

[300 rows x 4 columns]

|Country||Error Free||Defective|
|---||----||---|
|Phillippines||270||30|
|Indonesia||267||33|
|Malta||269||31|
|India||279||21|

In [30]:
scipy.stats.chisquare([30,33,31,21],f_exp=None,ddof=0,axis=0)

Power_divergenceResult(statistic=2.9478260869565216, pvalue=0.3997395169356619)

Inference:
Pvalue> 0.05 hence do not reject null hypothesis
Hence Defective percentage varies by center